NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

GOOGLE_ID=
GOOGLE_SECRET=

FIREBASE_CONFIG_apiKey=
FIREBASE_CONFIG_authDomain=
FIREBASE_CONFIG_projectId=
FIREBASE_CONFIG_storageBucket=
FIREBASE_CONFIG_messagingSenderId=
FIREBASE_CONFIG_appId=
FIREBASE_CONFIG_measurementId=

FIREBASE_ADMIN_EMAIL=
FIREBASE_ADMIN_PASSWORD=
