NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

GOOGLE_ID=
GOOGLE_SECRET=

NEXT_PUBLIC_FIREBASE_CONFIG_apiKey=
NEXT_PUBLIC_FIREBASE_CONFIG_authDomain=
NEXT_PUBLIC_FIREBASE_CONFIG_projectId=
NEXT_PUBLIC_FIREBASE_CONFIG_storageBucket=
NEXT_PUBLIC_FIREBASE_CONFIG_messagingSenderId=
NEXT_PUBLIC_FIREBASE_CONFIG_appId=
NEXT_PUBLIC_FIREBASE_CONFIG_measurementId=
